/* Reset default styles and set the font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Create a centered, dark-themed container */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
}

.container {
  width: 100%;
  max-width: 600px; /* Increased max-width */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Added padding */
}

.card {
  background: #333;
  border: 2px solid #45f3ff;
  border-radius: 20px;
  overflow: hidden; /* Ensure border-radius is applied correctly */
  width: 100%; /* Adjusted width */
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.4),
             -10px 20px 20px 0 rgba(0, 0, 0, 0.4),
              0 -2px 20px 0 rgba(0, 0, 0, 0.5); /* Added box shadow */
}

.card-body {
  padding: 20px;
}

/* Style form titles, input fields, and buttons */
.card-title {
  font-size: 24px; /* Adjusted font size */
  color: #45f3ff;
  text-align: center;
  margin-bottom: 20px; /* Adjusted margin */
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  border: 2px solid #45f3ff;
  border-radius: 5px;
  padding: 5px 10px;
  background: #333;
  color: #f0f0f0;
  font-size: 16px;
  outline: none;
}

input[type="email"]:read-only {
  background-color: #555; /* Adjusted read-only input background color */
}

.btn {
  width: 100%; /* Make the button full width */
  height: 40px;
  background: none;
  outline: none;
  border: 2px solid  #45f3ff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 20px 0;
  color: #999;
}

.btn:hover {
  color: #333;
  border: none;
  background: #45f3ff;
}
