
 <!DOCTYPE html>
<html lang="id" dir="ltr">

<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
</head>

<body class="bg-dark text-white py-5">
     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
               </div>
               <div class="col-md-10">
                    <h1 style="color: #1DA2B4;">OPPSSS!!!! Sorry...</h1>
                    <p>Sorry, your access is refused .<br/>Please go back to the Home page to continue browsing.</p>
                    <a class="btn btn-danger" routerLink="/futures" >BACK TO HOME</a>
               </div>
          </div>
     </div>
</body>

</html>
