
<body>
 <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-4" style="font-size: 19px;">Send Verification Email</h5>


          <div class="form-group" *ngIf="!showVerificationFields">

            <input type="email" id="userEmail" class="form-control" [(ngModel)]="userEmail" required placeholder="Email">
          </div>


          <button type="button" class="btn btn-primary btn-block" *ngIf="!showVerificationFields" (click)="verifyUserByEmail()">
            Send Verification code
          </button>


          <div class="form-group" *ngIf="showVerificationFields">

            <input type="text" id="code" class="form-control" [(ngModel)]="code" required placeholder="Verification Code">
          </div>


          <button type="button" class="btn btn-success mt-3" *ngIf="showVerificationFields" (click)="onValidateCode()">
            Validate Code
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
